# Ignore everything
/*

# But not these files...
!.gitignore
!.env.example

# ...and not these folders
!dev_tools/
dev_tools/*
!dev_tools/docker-compose.yml
!dev_tools/README.md

# Always ignore .env
.env
